wheel==0.38.4
linode_api4==5.16.0
ansible==10.0.1
passlib==1.7.4
polling==0.3.2
yamllint==1.35.1
flake8==7.0.0
ansible-lint==24.6.0
molecule==3.6.1
molecule-vagrant==1.0.0
python-vagrant==1.0.0
ansible-specdoc==0.0.14
pyyaml==6.0.1